.generate-images-container {
  min-height: 100vh;
}
.generate-images-generate-images {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(15, 15, 15, 1);
}
.generate-images-logo {
  top: 37px;
  left: 42px;
  width: 203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.generate-images-logoprosnapai1200w1 {
  width: 52px;
  height: 52px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.generate-images-text {
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lobster Two;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-images-container1 {
  top: 205px;
  left: 0px;
  right: 0px;
  width: 1110.6000061035156px;
  height: 498px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.generate-images-tabs {
  width: 1100px;
  height: 84px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  justify-content: center;
}
.generate-images-frame1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  justify-content: center;
}
.generate-images-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-images-frame2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.generate-images-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-images-tab-container {
  width: 1100px;
  display: flex;
  padding: 64px 112px;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  flex-direction: column;
  justify-content: center;
}
.generate-images-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.generate-images-emailinput {
  color: rgba(157, 157, 157, 1);
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Poppins;
  font-weight: 300;
  border-color: transparent;
  margin-bottom: 12px;
  background-color: rgba(54, 54, 54, 1);
}
.generate-images-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.generate-images-linkto-modelinput {
  color: rgba(157, 157, 157, 1);
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Poppins;
  font-weight: 300;
  border-color: transparent;
  margin-bottom: 12px;
  background-color: rgba(54, 54, 54, 1);
}
.generate-images-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.generate-images-prompinput {
  color: rgba(157, 157, 157, 1);
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Poppins;
  font-weight: 300;
  border-color: transparent;
  margin-bottom: 12px;
  background-color: rgba(54, 54, 54, 1);
}
.generate-images-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.generate-images-train-model-button {
  height: 64px;
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 154, 241, 1);
}
.generate-images-text14 {
  color: rgb(255, 255, 255);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
